[submodule "server"]
	path = server
	url = https://Treenson@bitbucket.org/Treenson/smoking-doppler-node-server.git
[submodule "android"]
	path = android
	url = https://Treenson@bitbucket.org/Treenson/smokingdoppler-android.git
[submodule "DLServer"]
	path = DLServer
	url = https://Treenson@bitbucket.org/Treenson/smokingdoppler-dlserver.git
